.base {
  background-image: linear-gradient(to top, #dad4ec 0%, #f3e7e9 100%);
}

.headstyle {
  padding-top: 20px;
}

.cities {
  font-family: "Cedarville Cursive", cursive;
  margin-top: 10px;
}

#description {
  text-transform: lowercase;
}

.location {
  font-size: 25px;
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
  margin-top: 15px;
}

.degrees {
  font-size: 50px;
  text-align: center;
}

.stats {
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
}

.conversion {
  text-decoration: none;
  color: #6c757d;
}

.days {
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.degrees .active {
  color: #6c757d;
  cursor: default;
}

.degrees .active:hover {
  color: #6c757d;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 15px;
}

.weather-forecast h3 {
  font-family: "Cedarville Cursive", cursive;
  font-size: 14px;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  height: auto;
  line-height: 15px;
}
